*{
	padding: 0;
	margin: 0;
}
/*whatsapp icon*/
#myDiv{
	z-index: 10;
}
/* Nav Bar   */
#nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar{
	background-image: linear-gradient(to right, #a517ba,#5f1782);
	padding: 0!important;
}
.navbar-brand img{
	height: 50px;
	padding-left: 20px;
}
.navbar-nav li{
	padding: 0 10px;

}
.navbar-nav li a{
	color: #fff !important;
	font-weight: 600;	
	float: right;
	text-align: left;
}
.fa-bars{
	color: #fff !important;
	font-size: 30px !important;
}
.navbar-toggler{
	border: none !important;
}
/*banner*/
#banner{
	 background-image: linear-gradient(to right, #a517ba,#5f1782);
	 color: #fff;
	 padding-top: 5%;
}
.promo-tilte{
	font-size: 20px;
	font-weight: 600;
	margin-top: 100px;
}
.auto-input{
	color: #FFE15D;
}
.read-more{
	width: 95px;
	margin: 20px;
}
.bottom-img{
	width: 5%;
}
.image-box img{
	width: 500px;
	display: block;
}
.image-box{
	position: absolute;
	bottom: 0;
	right: 10%;
}
/*Services Section*/

#services{
	padding: 80px 0;
}
.service-img{
	width: 100px;
	margin-top: 20px;
}
.services{
	padding: 20px;
}
.services h4{
	padding: 5px;
	margin-top: 25px;
	text-transform: uppercase;
}
.title::before{
	content: '';
	background: #7b1798;
	height: 5px;
	width: 200px;
	margin-left: auto ;
	margin-right: auto;
	display: block;
	transform: translateY(63px);
}
.title::after{
	content: '';
	background: #7b1798;
	height: 10px;
	width: 50px;
	margin-left: auto ;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);
}
.promo-tilte{
	font-size: 60px;
	line-height: 100px;
}
#services .btn-primary{
	box-shadow: none;
	padding: 8px 25px;
	border: none;
	background-image: linear-gradient(to right, #a517ba,#5f1782);
	border-radius: 20px;

}
/*Product Section*/
#product{
	background: #f8f9fa;
	padding-bottom: 50px;
	padding-top:50px;
}
.card:hover{
  transform: scale(1.10);
}
.card{
	transition: all 0.3s;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.star-img{
	width: 100px;
}
.card-title{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}
.card-text{
	font-family: 'Itim', cursive;
	font-weight: 400;
}
.footer-text{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;	
}
.products{
	padding-top: 30px;
	padding-bottom: 30px;
	z-index: 3;
}
.sub-title{
	    font-family: 'Itim', cursive;
	    font-weight: 400;
	    text-align: center;
}
/*About Us Section*/
#about-us{
	background: #f8f9fa;
	padding-bottom: 50px;
	padding-top:50px;
}
.about-title{
	font-size: 40px;
	font-weight: 600;
	margin-top: 8%;	
}
#about-us ul li{
	margin: 10px 0;
}
#about-us ul{
	margin-left: 20px;
}

/*Testimonials Section*/

#testimonials
{
	margin: 100px 0;
}
.testimonials{
	border-left:4px solid #7b1798;
	margin-top: 50px;
	margin-bottom: 50px;
}
.testimonials img{
	height: 60px;
	width:60px ;
	border-radius: 50%;
	margin: 0 10px;
}
.user-details{
	display: inline-block;
	font-size: 12px;
}

/*social-media section*/

#social-media{
	background: #f8f9fa;
	padding: 100px 0;
}
#social-media p{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 30px;
}
.social-icons img{
	width: 60px;
	transition: 0.5s;

}
.social-icons a:hover img{
	transform: translateY(-10px);
}

/*footer section*/
#footer{
	background-image: linear-gradient(to right, #a517ba,#5f1782);
	color: #fff;	
}
..footer-img{
	width: 100%;
}
.footer-box{
	padding: 20px;
}
.footer-box img{
	width: 120px;
	margin-bottom: 20px;
}
.footer-box .fa{
	margin-right: 8px;
	font-size: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 7px;
	border-radius: 2px;
	background-image: linear-gradient(to right, #a517ba,#5f1782);
}
.form-control .footer-box{
	box-shadow: none;
	border: none;
	border-radius: 0;
	margin-top: 25px;
	max-width: 250px;
}
.footer-box .btn-primary{
	box-shadow: none !important;
	border: none;
	border-radius: 0;
	margin-top: 30px;
	background-image: linear-gradient(to right, #a517ba,#5f1782);
}
hr{
background-color: #fff;	
}
.copyright{
	margin-bottom:0 ;
	padding-bottom: 20px;
	text-align: center;
}
/*======= Scroll indicator bar =======*/
.scroll-indicator-container{
    width: 100%;
    height: 10px;
    background-image:linear-gradient(to right, #a517ba,#5f1782);
}

.scroll-indicator-bar{
    background: #FFE15D;
    width: 0%;
    height: 100%;
    box-shadow: 0 5px 45px #FFE15D,
                0 5px 70px #FFE15D;
}

.nav-close-btn, .nav-menu-btn{
    display: none;
}

/*===================================================
										CONTACT FORM 
====================================================*/
.login-popup{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1099;
	background-color:rgba(0,0,0,0.6);
	visibility: hidden;
	opacity: 0;
	transition: all 1s ease;
}
.login-popup.show{
	visibility:visible;
	opacity: 5;
}
.container.blur {
  filter: blur(5px);
}
.login-popup .box{
	background-color:#15133C;
	width: 750px;
	position: absolute;
	left: 50%;
	top:50%;
	transform:translate(-50%,-50%);
	display: flex;
	flex-wrap: wrap;
	opacity: 0;
	margin-left: 50px;
	transition: all 1s ease;

}

.login-popup.show .box{
	opacity: 1;
	margin-left: 0;
}
.login-popup .box .img-area{
	flex:0 0 50%;
	max-width: 50%;
	position: relative;
	overflow: hidden;
	padding:30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.login-popup .box .img-area img{
	width: 100%;
}
.login-popup .box .img-area .img{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-image: url('bg3.jpg');
	background-size: cover;
	background-position: center;
	animation: zoomInOut 7s linear infinite;
	z-index: -1;

}
@keyframes zoomInOut{
	0%,100%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.1);
	}
}
.login-popup .box .form{
	flex:0 0 50%;
	max-width: 50%;
	padding:20px 30px;
}
.login-popup .box .form input{
	margin: 0 !important;
}

.login-popup .box .form h1{
	color:#000000;
	font-size: 30px;
	margin:0 0 5px;
}
.login-popup .box .form .form-control{
	height: 45px;
	margin-bottom: 30px;
	width: 100%;
	border:none;
	border-bottom:3px solid #CCC ;
	font-size: 15px;
	color:#000000;
}
.login-popup .box .form .form-control:focus{
	outline: none;
}
.login-popup .box .form .btn{
	width: 100%;
	background-color: #E91E63;
	margin-top:15px;
	height: 45px;
	border:none;
	border-radius: 25px;
	font-size: 15px;
	text-transform: uppercase;
	color:#ffffff;
	cursor: pointer;
}
.login-popup .box .form .btn:focus{
	outline: none;
}

.login-popup .box .form .close{
	position: absolute;
	right: 10px;
	top:0px;
	font-size: 30px;
	cursor: pointer;
}

/*responsive*/
@media(max-width: 767px){
	.login-popup .box{
		width: calc(100% - 30px);
	}
	.login-popup .box .img-area{
		display: none;
	}
	.login-popup .box .form{
		flex: 0 0 100%;
        max-width: 100%;
	}
}
